
<div class="footer_agile_w3ls">
    <div class="container">
        <div class="agileits_w3layouts_footer_grids">
            <div class="col-md-3 footer-w3-agileits">
                <h3>Training Grounds</h3>
                <ul>
                    <li>Etiam quis placerat</li>
                    <li>the printing</li>
                    <li>unknown printer</li>
                    <li>Lorem Ipsum</li>
                </ul>
            </div>
            <div class="col-md-3 footer-agileits">
                <h3>Specialized</h3>
                <ul>
                    <li>the printing</li>
                    <li>Etiam quis placerat</li>
                    <li>Lorem Ipsum</li>
                    <li>unknown printer</li>
                </ul>
            </div>
            <div class="col-md-3 footer-wthree">
                <h3>Partners</h3>
                <ul>
                    <li>unknown printer</li>
                    <li>Lorem Ipsum</li>
                    <li>the printing</li>
                    <li>Etiam quis placerat</li>
                </ul>
            </div>

            <div class="col-md-3 footer-agileits-w3layouts">
                <h3>Our Links</h3>
                <ul>
                    <li><a href="/">Anasayfa</a></li>
                    <li><a href="/Hesap/Hesaplarim">Hesap İşlemleri</a></li>
                    <li><a href="events.html">HGS İşlemleri</a></li>
                    <li><a href="mail.html">Contact</a></li>
                </ul>
            </div>
            <div class="clearfix"></div>

        </div>
    </div>
</div>
<div class="wthree_copy_right">
    <div class="container">
        <p>© 2019 Atay Bank. All rights reserved | Design by <a href="#">Tutunamayanlar</a></p>
    </div>
</div>