
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Atay Bank</title>
    <!-- custom-theme -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Funding Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //custom-theme -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="~/Content/css/flexslider.css" type="text/css" media="screen" property="" />
    <!-- font-awesome-icons -->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,900" rel="stylesheet">
    <title>_Layout2</title>
</head>
<body>

    @Html.Partial("_Header2")

    @RenderBody()


    <script type="text/javascript" src="~/Scripts/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <!-- Counter required files -->
    <script type="text/javascript" src="~/Scripts/dscountdown.min.js"></script>
    <script src="~/Scripts/demo-1.js"></script>
    <script>
			jQuery(document).ready(function($){
				$('.demo2').dsCountDown({
					endDate: new Date("December 24, 2020 23:59:00"),
					theme: 'black'
					});
			});
    </script>
    <!-- //Counter required files -->



    <script src="~/Scripts/mainScript.js"></script>
    <script src="~/Scripts/rgbSlide.min.js"></script>
    <!-- carousal -->
    <script src="~/Scripts/slick.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript">
		$(document).on('ready', function() {
		  $(".center").slick({
			dots: true,
			infinite: true,
			centerMode: true,
			slidesToShow:2,
			slidesToScroll:2,
			responsive: [
				{
				  breakpoint: 768,
				  settings: {
					arrows: true,
					centerMode: false,
					slidesToShow: 2
				  }
				},
				{
				  breakpoint: 480,
				  settings: {
					arrows: true,
					centerMode: false,
					centerPadding: '40px',
					slidesToShow: 1
				  }
				}
			 ]
		  });
		});
    </script>
    <!-- //carousal -->
    <!-- flexisel -->
    <script type="text/javascript">
		$(window).load(function() {
			$("#flexiselDemo1").flexisel({
				visibleItems: 4,
				animationSpeed: 1000,
				autoPlay: true,
				autoPlaySpeed: 3000,
				pauseOnHover: true,
				enableResponsiveBreakpoints: true,
				responsiveBreakpoints: {
					portrait: {
						changePoint:480,
						visibleItems: 1
					},
					landscape: {
						changePoint:640,
						visibleItems:2
					},
					tablet: {
						changePoint:768,
						visibleItems: 2
					}
				}
			});

		});
    </script>
    <script type="text/javascript" src="~/Scripts/jquery.flexisel.js"></script>
    <!-- //flexisel -->
    <!-- gallery-pop-up -->
    
    <script>
	$(window).load(function() {
		  $.fn.lightspeedBox();
		});
    </script>
    <!-- //gallery-pop-up -->
    <!-- flexSlider -->
    <script defer src="~/Scripts/jquery.flexslider.js"></script>
    <script type="text/javascript">
		$(window).load(function(){
		  $('.flexslider').flexslider({
			animation: "slide",
			start: function(slider){
			  $('body').removeClass('loading');
			}
		  });
		});
    </script>
    <!-- //flexSlider -->
    <!-- start-smooth-scrolling -->
    <script type="text/javascript" src="~/Scripts/move-top.js"></script>
    <script type="text/javascript" src="~/Scripts/easing.js"></script>
    <script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
    </script>
    <!-- start-smooth-scrolling -->
    <!-- for bootstrap working -->
    <script src="~/Scripts/bootstrap.js"></script>
    <!-- //for bootstrap working -->
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
    </script>
</body>
</html>
